<%- include('../v_layout/head') %>

<body class="d-flex align-items-center justify-content-center">
    <link rel="stylesheet" href="/css-tambahan/layout-register.css">
    <main class="form-signup justify-center align-items-center">
        <div class="container">
          <div class="row justify-content-center align-items-center">  
            <div class="justify-content-center align-items-center">
            <form class="m-2" method="post" action="/auth/proses-register">
              
              <div class="text-center">
                <img class="mb-3" src="/gambar/sonic.png" alt="" width="120" height="80">
              </div>
              
              
                <!-- Notifikasi apabila email atau password tidak sesuai -->
                <% if (typeof notifikasi !== 'undefind' && notifikasi ) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= notifikasi  %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  
                <% } %>
              
              <h1 class="h3 mt-1 mb-1 p-1 fw-normal">Form Daftar</h1>
              <div class="form-floating p-1 ">
                <input type="text" class="form-control" name="form_namaLengkap" placeholder="Nama Lengkap" required="true">
                <label for="floatingInput">Nama Lengkap</label>
              </div>
              <div class="form-floating p-2">
                <input type="email" class="form-control" name="form_email" placeholder="name@example.com" required="true">
                <label for="floatingInput">Alamat Email</label>
              </div>
              <div class="form-floating p-2">
                <input type="password" class="form-control" name="form_password" placeholder="Password" required="true">
                <label for="floatingPassword">Kata Sandi</label>
              </div>
              <button class="btn btn-primary m-2" type="submit">Daftar</button>
            </form>
            
          
          </div>
        </div>
        <p class="mt-2 mb-5 text-body-secondary align-items-center">&copy; 2024</p>
      </main>

</body>
