

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <link rel="stylesheet" href="/css-tambahan/layout-register.css">
    <main class="form-signup ms-5 w-50 align-items-center">
      
        <form class="m-2" method="post" action="/auth/simpanPassword">
          <h1 class="h3 mt-1 mb-1 p-1 fw-normal">Ganti Password</h1>
          
          <div class="form-floating p-2">
            <input type="password" class="form-control" name="form_password" placeholder="Password" required="true">
            <label for="floatingPassword"> Masukan password baru</label>
          </div>
          <br>
          <button class="btn btn-primary m-2" type="submit">Submit</button>
        </form>
        <br>
        <a href="/olshop/UserProfile/uProfile">
          <button>Kembali ke Profile</button>
        </a>
        <br>
        <br>
        <a href="/olshop">
          <button>Kembali ke Beranda</button>
        </a>
        
        
      </main>

</body>


<%- include('../../v_layout/olshop-footer') %>
