<h1>Profile</h1> 

<div>
    <div class="row">
          <div class="col-6">
                <div class="card-body"> 
                    <table>
                          <tr>
                              <td>Nama  : </td>
                          </tr>
                          <tr>
                              <td>Email : </td>
                          </tr>
                    </table>
                    <br>
                    <a href="/olshop/UserProfile/gantiPassword">
                      <button class="btn btn-sm"> Ganti Password</button>
                    </a>
                </div>
                <br>
                <a href="/olshop">
                  <button>Kembali ke Beranda</button>
                </a>
          </div>
    </div>

</div>





<%- include('../../v_layout/olshop-footer') %>
<%- include('../../v_layout/foot') %>